<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Scania Restaurants</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <ion-list>
    <button ion-item *ngFor="let restaurant of restaurants" (click)="restaurantChosen(restaurant.id, restaurant.displayName)">
      {{ restaurant.displayName }}
    </button> 
  </ion-list>
  <!-- <ion-item-group>
    <div *ngFor="let week of menu.Weeks">
      <ion-item-divider color="light">Week <b>{{week.WeekNumber}}</b></ion-item-divider>
      <div *ngFor="let day of week.Days; let i = index">

        <ion-item>
          <span *ngIf="i == 0"><b>Monday ({{day.DayMenuDate}})</b></span>
          <span *ngIf="i == 1"><b>Tuesday ({{day.DayMenuDate}})</b></span>
          <span *ngIf="i == 2"><b>Wednesday ({{day.DayMenuDate}})</b></span>
          <span *ngIf="i == 3"><b>Thursday ({{day.DayMenuDate}})</b></span>
          <span *ngIf="i == 4"><b>Friday ({{day.DayMenuDate}})</b></span>

          <p *ngFor="let dayMenu of day.DayMenus">
            <b>{{dayMenu.MenuAlternativeName}}</b>:<br />{{dayMenu.MenuPresentation.DayMenuName}}
          </p>
        </ion-item>

      </div>
    </div>
  </ion-item-group> -->
</ion-content>
